<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wisper Your Secret</title>
    <link rel="stylesheet" href="style/style.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <h1>Shush Don't Tell Anyone Your Secrets</h1>
            <h2>Click the button below to reveal your darkest secrets</h2>
            <button id="secretButton" formaction="/submit">Reveal Secret</button>
        </div>
    </div>
    <div id="secret">
        <div class="card">
            <h3>Secret</h3>
            <% if(locals.secret) { %>
                <p><%= secret %></p>
            <% } else { %>
                <p><%= error %></p>
            <% } %>     
        </div>
    </div>

    <footer>
        <p>Created by <a href="#">Mirza Zain</a>"</p>
        <p>Code available at <a href="#">Github</a></p>
    </footer>
</body>
</html>